#signup{
font-size: 30px;
    width: 70%;
    margin-left: 15%;
    padding: 25px;
    /* background-color:#f95959; */

}
#SignUp
{
    font-size: 40px;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    color: #FFFAFA;
    margin: 0 0 2% 0;
}
